In [2]:
import pandas as pd
import numpy as np

In [3]:
actors_dataset = os.path.abspath(os.path.join(os.path.dirname(__file__), os.pardir, os.pardir, os.pardir, os.pardir, 'name.basics.tsv')))  # noqa

actors = pd.read_csv('name.basics.tsv', sep = '\t') # read all actors, you need name.basics.tsv from IMDb

In [4]:
actors_clean = actors[['nconst', 'knownForTitles']] # keep only id and titles
actors_clean = actors_clean[actors_clean['knownForTitles']!=r'\N'] # cleanup, remove actors with no known movies

In [8]:
actors_clean

            nconst                            knownForTitles
0        nm0000001   tt0053137,tt0043044,tt0072308,tt0050419
1        nm0000002   tt0037382,tt0117057,tt0071877,tt0038355
2        nm0000003   tt0049189,tt0059956,tt0057345,tt0054452
3        nm0000004   tt0078723,tt0072562,tt0080455,tt0077975
4        nm0000005   tt0050976,tt0083922,tt0069467,tt0050986
5        nm0000006   tt0036855,tt0038109,tt0071877,tt0038787
6        nm0000007   tt0034583,tt0033870,tt0037382,tt0043265
7        nm0000008   tt0068646,tt0047296,tt0070849,tt0078788
8        nm0000009   tt0087803,tt0061184,tt0059749,tt0057877
9        nm0000010   tt0055256,tt0031867,tt0035575,tt0029870
10       nm0000011   tt0044706,tt0035211,tt0027996,tt0034167
11       nm0000012   tt0031210,tt0042192,tt0035140,tt0056687
12       nm0000013   tt0055100,tt0053172,tt0060463,tt0048317
13       nm0000014   tt0029843,tt0031381,tt0040806,tt0041452
14       nm0000015   tt0048545,tt0048028,tt0049261,tt0045458
15       nm0000016   tt0096320,tt0091763,tt0080610,tt0069946
16       nm0000017   tt0055031,tt0052311,tt0021156,tt0051201
17       nm0000018   tt0080736,tt0049456,tt0052365,tt0054331
18       nm0000019   tt0053779,tt0056801,tt0071129,tt0047528
19       nm0000020   tt0032551,tt0050083,tt0064116,tt0082846
20       nm0000021   tt0036969,tt0032976,tt0039504,tt0034248
21       nm0000022   tt0052278,tt0025316,tt0026752,tt0031381
22       nm0000023   tt0055031,tt0032138,tt0037059,tt0047522
23       nm0000024   tt0082031,tt0117631,tt0071877,tt0045943
24       nm0000025   tt0100802,tt0112715,tt0119488,tt0117731
25       nm0000026   tt0056923,tt0053125,tt0048728,tt0036613
26       nm0000027   tt0076759,tt0051739,tt0050212,tt0041546
27       nm0000028   tt0040525,tt0038559,tt0040552,tt0036723
28       nm0000029   tt0077800,tt0074802,tt0110138,tt0102122
29       nm0000030   tt0058385,tt0056923,tt0046250,tt0054698
...            ...                                       ...
9482330  nm9993668                                 tt0969307
9482331  nm9993669                                 tt0969307
9482332  nm9993670                                 tt0969307
9482333  nm9993671                                 tt0969307
9482334  nm9993672                                 tt0969307
9482335  nm9993673                                 tt0969307
9482336  nm9993674                                 tt0969307
9482341  nm9993679                                 tt8744074
9482342  nm9993680                                 tt8295580
9482343  nm9993681                                 tt8295580
9482344  nm9993682                                 tt8744086
9482345  nm9993683                                 tt8744086
9482346  nm9993684                                 tt3741700
9482347  nm9993685                                 tt3741700
9482349  nm9993687                                 tt7170282
9482350  nm9993688                                 tt7310898
9482352  nm9993690                                 tt7888884
9482353  nm9993691                                 tt7888884
9482354  nm9993692                                 tt7888884
9482355  nm9993693                                 tt9815360
9482356  nm9993694  tt9083282,tt9097592,tt10140990,tt8737752
9482359  nm9993698                                 tt8736744
9482360  nm9993699                                 tt8736744
9482362  nm9993701                                 tt8736744
9482364  nm9993703                       tt6225166,tt6914160
9482369  nm9993708                       tt8744286,tt9046122
9482370  nm9993709                                 tt8744286
9482375  nm9993714                                 tt2455546
9482376  nm9993715                                 tt2455546
9482378  nm9993717                                 tt8736744

[7978080 rows x 2 columns]

In [6]:
import os
final_dataset = os.path.abspath(os.path.join(os.path.dirname(__file__), os.pardir, os.pardir, os.pardir, 'kaggle_data', 'Final_dataset.csv')))  # noqa
movies = pd.read_csv(final_dataset)

In [7]:
movies_clean = movies[['imdb_id', 'first_week_box_office']]

In [9]:
movies_clean

        imdb_id  first_week_box_office
0     tt2637294              5963324.0
1     tt0368933             22956453.0
2     tt2582802               135388.0
3     tt0431021             17732480.0
4     tt0391024                27125.0
5     tt0117110              7906689.0
6     tt0310281              2112140.0
7     tt0093857              7900879.0
8     tt0169547               861531.0
9     tt0377471             23450212.0
10    tt0181689             35677125.0
11    tt0421239             16167662.0
12    tt1700845                31948.0
13    tt1487118                  192.0
14    tt0388482             16540720.0
15    tt0120738             20154919.0
16    tt0083972             36690067.0
17    tt2105044                 1221.0
18    tt1687277                 9571.0
19    tt0779982                16102.0
20    tt0104139              2714815.0
21    tt0120176              9586993.0
22    tt1486834               133898.0
23    tt0092106              6469244.0
24    tt0264472             17128062.0
25    tt1675434               103507.0
26    tt0387898                57010.0
27    tt1618442             10812861.0
28    tt2926810                 4022.0
29    tt0293564             49100158.0
...         ...                    ...
6096  tt0381849             14035033.0
6097  tt1074638             88364714.0
6098  tt0119586                19644.0
6099  tt0910936             23245025.0
6100  tt0475944              8852458.0
6101  tt0085970               947197.0
6102  tt2140037               835572.0
6103  tt0483607              4926565.0
6104  tt0203408              2354362.0
6105  tt1126591             11947744.0
6106  tt0970179             11364505.0
6107  tt0103074              6101297.0
6108  tt0322725                10313.0
6109  tt2011159             24250283.0
6110  tt0399295              9390144.0
6111  tt3960412              4698715.0
6112  tt1433811               124000.0
6113  tt0093640              4259460.0
6114  tt0278488              7102260.0
6115  tt2172985                40003.0
6116  tt0479162                 3232.0
6117  tt1754811               156414.0
6118  tt0103253               165534.0
6119  tt0929632              1872458.0
6120  tt1340138             27018486.0
6121  tt0218922              6402741.0
6122  tt0364751             13528946.0
6123  tt0084855               100982.0
6124  tt3235888               160089.0
6125  tt0056663                 8336.0

[6126 rows x 2 columns]

In [10]:
def value_from_ids(ids, movies_clean):
    actor_value = 0
    actor_movie_count = 0
    for movie in ids:
        bool_select = movies_clean.imdb_id == movie
        if sum(bool_select) == 1:
            actor_value += movies_clean[bool_select].first_week_box_office.to_list()[0]
            actor_movie_count + 1
            
    if actor_movie_count > 0:
        actor_value /= actor_movie_count
    return actor_value

In [ ]:
for index, actor in actors_clean.iterrows():
    actor_movies = actor['knownForTitles'].split(',')
    actor_value = value_from_ids(actor_movies, movies_clean)
    actors_clean.iloc[index,:]['actor_values'] = actor_value

    if index%1000 ==0:
        print(index)

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000

In [51]:
actors_clean['actor_values'] = actor_values

In [54]:
actors_clean[10]

KeyError: 10